[GLOBAL]
modem = yes
sms = yes 
loop = yes
email = yes
telegram = no
usbcamera = yes
ipcamera = yes
ups = no
webserver = yes
hf = yes
serial = yes
aws = no
temp = yes
siren = yes
pir = yes
default_state = False


[EMAIL]
receiver = receiver@example.com
login = sender@example.com
password = PasswordSender
port = 465
server = smtp.example.com

[LOOP]
loop_invert = 1
loop_pin = GPIO17
loop_enable = GPIO18
default_loop_check = 1

[TELEGRAM]
name = @TelegramBotExample
chat_id = aaaaaaaaa
token = 0000000000:xxxxxxxxxxxxxxxxxxxxxxxxxxx

[SMS]
receiver = +33600000000
password = TestPassword


[USBCAMERA]
port= /dev/video0

[IPCAMERA]
login = loginCamera
password = passwordCamera
url=http://192.168.0.xxx/tmpfs/auto.jpg

[WEBSERVER]
hostname = 0.0.0.0
port = 8080
base = html

[SERIAL]
port = /dev/ttyUSB4
speed = 9600
bytesize = 8
parity = N
stop = 1

[HF]
onalarm   = 00000001
offalarm  = 00000002
intrusion = 00000003

[AWS]
endpoint = xxxxxxxxx.iot.eu-west-3.amazonaws.com
ca_cert  = ./certs/root-CA.crt
certfile = ./certs/xxxxxxx.private.key
keyfile  = ./certs/xxxxxx.cert.pem 
topicpub = alarm/alarm1/pubsubtopic
topicsub = alarm/alarm1/pubsubtopic

[SIREN]
defaultmode = auto
gpio = GPIO26
timeout = 120

[PIR]
gpio = GPIO27

[TEMP]
type = AM2320
addresse = 0x5C