[GLOBAL]
modem = yes
sms = yes 
loop = yes
email = yes
telegram = no
usbcamera = yes
ipcamera = yes
ups = no
webserver = yes
hf = yes
serial = yes
aws = no
mqtt = no
temp = yes
siren = yes
pir = yes
buzzer = yes
default_state = Last
default_zone  = 1
delayalarm = 10
heartbeat = no


[EMAIL]
receiver = receiver@example.com
login = sender@example.com
password = PasswordSender
port = 465
server = smtp.example.com

[LOOP]
loop1_invert = 1
loop1_pin = GPIO18
loop2_invert = 1
loop2_pin = GPIO23
loop3_invert = 1
loop3_pin = GPIO24
loop4_invert = 1
loop4_pin = GPIO25

loop_enable = GPIO17
default_loop_check = 1

[TELEGRAM]
name = @TelegramBotExample
chat_id = aaaaaaaaa
token = 0000000000:xxxxxxxxxxxxxxxxxxxxxxxxxxx

[SMS]
receiver = +33600000000
password = TestPassword

[USBCAMERA]
port= /dev/video0

[IPCAMERA]
login = loginCamera
password = passwordCamera
url=http://192.168.0.xxx/tmpfs/auto.jpg

[WEBSERVER]
hostname = 0.0.0.0
port = 8080
base = html

[SERIAL]
port = /dev/ttyUSB4
speed = 9600
bytesize = 8
parity = N
stop = 1

[HF]
onalarm   = 00000001
offalarm  = 00000002
homealarm = 00000004
ring      = 00000005
security  = 00000006
intrusion = 00000003

[AWS]
endpoint = xxxxxxxxx.iot.eu-west-3.amazonaws.com
ca_cert  = ./certs/root-CA.crt
certfile = ./certs/xxxxxxx.private.key
keyfile  = ./certs/xxxxxx.cert.pem 
topicpub = alarm/alarm1/pubsubtopic
topicsub = alarm/alarm1/pubsubtopic


[MQTT]
endpoint = www.example.com
port = 8080
user = UserMqtt
password = PasswordMqtt
topicsub    = alarm/alarm1/pubsubtopic
topicpub    = alarm/alarm1/pubsubtopic

[SIREN]
defaultmode = auto
gpio = GPIO26
timeout = 120

[PIR]
gpio = GPIO27

[TEMP]
type = AM2320
addresse = 0x5C

[BUZZER]
gpio = GPIO12

[HEARTBEAT]
delay = 120

[ZONE1]
loop1 = yes
loop2 = yes
loop3 = yes
loop4 = yes
pir   = yes
intrusion = yes
security = yes

[ZONE2]
loop1 = yes
loop2 = yes
loop3 = no
loop4 = no
pir   = no
intrusion = no

[LEVEL]
restart = all
change  = sms email telegram aws mqtt
power   = sms telegram aws mqtt
ring    = sms telegram aws mqtt
alarm   = all 